.album-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.album-images2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr)); /* Ajustează pentru a pune mai multe imagini pe rând */
    gap: 15px; /* Reduce gap-ul pentru a pune mai multe imagini pe rând */
    padding: 20px;
    width: 100%; /* Folosește 100% din lățimea disponibilă */
    justify-items: center; /* Centrarea imaginilor pe rând */
    box-sizing: border-box;
}

.album-image2 {
    width: 100%;
    height: auto;
    border-radius: 8px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
    z-index: 0;
}

.album-image2:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.album-image-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.page-title2 {
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    /*margin-left: 20px;*/
    color: #333;
    flex: 1;
}

.image-title {
    font-size: 1.1rem;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

.header-container {
    position: sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    width: 100%;
    z-index: 10;
}

.back-button {
    background-color: #333333;
    color: white;
    border: none;
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.back-button:hover {
    background-color: #222222;
}

.view-button{
    background-color: green;
    color: white;
    border: none;
    padding-right: 12px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.view-button:hover {
    background-color: #005300;
}

.menu-button{
    display: flex;
    align-items: center;
    vertical-align: middle;
    background-color: #acacac;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.header-buttons {
    display: flex;
    align-items: center;
}






/* Stiluri pentru checkbox-ul de selecție */
.checkbox-container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Stiluri pentru cardurile picturilor */
.painting-card {
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer; /* Arată că întregul card este clicabil */
    overflow: hidden; /* Asigură-te că imaginea nu depășește marginile cardului */
}

/* Stiluri pentru picturile selectate */
.painting-card.selected {
    border: 3px solid #4caf50; /* Border verde pentru picturile selectate */
    box-shadow: 0 8px 16px rgba(76, 175, 80, 0.5); /* Umbră pentru picturile selectate */
}

/* Stiluri pentru butonul de selectare */
.select-painting-btn, .delete-painting-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.select-painting-btn:hover, .delete-painting-btn:hover {
    background-color: #0056b3; /* Culoare mai închisă la hover */
}

/* Stiluri pentru butonul de ștergere a picturilor selectate */
.delete-painting-btn {
    background-color: #d10f0f; /* Culoare roșie pentru butonul de ștergere */
    font-weight: bold;
}

.delete-painting-btn:hover {
    background-color: #f32a2a; /* Culoare mai deschisă la hover */
    transform: scale(1.05); /* Mărire ușoară la hover */
}

/* Stiluri pentru butonul de creare album (pentru a păstra consistența) */
.make-album-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.make-album-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.make-album-btn:hover {
    background-color: #0056b3;
}

/* Butonul fix pentru adăugarea unui album */
.fixed-add-album-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #D10F0F;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fixed-add-album-btn:hover {
    background-color: #f32a2a;
    transform: scale(1.05);
}



.edit-album-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.edit-album-btn:hover {
    background-color: #0056b3; /* Culoare mai închisă la hover */
}